<header>
    <div class="container">
        <nav>
            <li>
                <a [title]="('menu.home' | translate)" 
                   [routerLink]="currentLang + '/home'" 
                   routerLinkActive="is-current" 
                   [routerLinkActiveOptions]="{exact: true}">
                    {{ 'menu.home' | translate }}
                </a>
            </li>
            <li>
                <a [title]="('menu.about' | translate)" 
                   [routerLink]="currentLang + '/about'" 
                   routerLinkActive="is-current" 
                   [routerLinkActiveOptions]="{exact: true}">
                   {{ 'menu.about' | translate }}
                </a>
            </li>
        </nav>
        <ul>
            <li *ngFor="let lang of languagesList">
                <button type="button" (click)="useLanguage(lang)">{{ lang }}</button>
            </li>
        </ul>
    </div>
</header>